* {
  font-family: "Inter", sans-serif !important;
}
body {
  margin: 0px;
  padding: 0px;
  font-family: "Inter", sans-serif !important;
}

.ant-drawer-header {
  display: none !important;
}
@media (max-width: 768px) {
  .ant-drawer-body {
    padding: 0px !important;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #dfeaf2;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #dfeaf2;
}
