body {
  margin: 0px;
  padding: 0px;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Inter", sans-serif;
}
.ant-drawer-header {
  display: none !important;
}
@media (max-width: 768px) {
  .ant-drawer-body {
    padding: 0px !important;
  }
}
